<div class="login-box">

    <div class="card card-outline card-primary">

        <!-- Header -->

        <div class="card-header">

            <h1 class="mb-0">
                <b>Employee Management</b>
            </h1>

        </div>


        <!-- Login Body -->

        <div class="card-body login-card-body">

            <p class="login-box-msg">
                Sign in to start your session
            </p>


            <form
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit()">


                <!-- Email -->

                <div class="input-group mb-1">

                    <div class="form-floating">

                        <input
                            id="loginEmail"
                            name="email"
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            autocomplete="username"
                            formControlName="email">

                        <label for="loginEmail">
                            Email
                        </label>

                    </div>

                    <div class="input-group-text">

                        <span class="bi bi-envelope"></span>

                    </div>

                </div>


                <!-- Email Validation -->

                <div
                    class="text-danger mb-2"
                    *ngIf="
                        loginForm.get('email')?.touched &&
                        loginForm.get('email')?.invalid
                    ">

                    Please enter a valid email

                </div>


                <!-- Password -->

                <div class="input-group mb-1">

                    <div class="form-floating">

                        <input
                            id="loginPassword"
                            name="password"
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            autocomplete="current-password"
                            formControlName="password">

                        <label for="loginPassword">
                            Password
                        </label>

                    </div>

                    <div class="input-group-text">

                        <span class="bi bi-lock-fill"></span>

                    </div>

                </div>


                <!-- Password Validation -->

                <div
                    class="text-danger mb-2"
                    *ngIf="
                        loginForm.get('password')?.touched &&
                        loginForm.get('password')?.invalid
                    ">

                    Password is required

                </div>


                <!-- Remember Me / Sign In -->

                <div class="row">

                    <div class="col-8 d-inline-flex align-items-center">

                        <div class="form-check">

                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="rememberMe"
                                name="rememberMe">

                            <label
                                class="form-check-label"
                                for="rememberMe">

                                Remember Me

                            </label>

                        </div>

                    </div>


                    <div class="col-4">

                        <div class="d-grid gap-2">

                            <button
                                type="submit"
                                class="btn btn-primary">

                                Sign In

                            </button>

                        </div>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>